div.contents {
    padding: 20px;
}

div.add-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

video.preview {
    width: 100%;
}

a.title, a.title:hover {
    text-decoration: none;
}

img.thumbnail {
    margin: 10px;
    max-width: 100%;
}

.table img.thumbnail {
    max-width: 300px;
}
