{% extends '../base.html' %}

{% block contents %}

<h2 class="pull-left">キャンプ一覧</h2>
<div class="pull-right add-button">
    <a class="btn btn-info" href="{{ reverse_url('CampAdd') }}">追加</a>
</div>
<table class="table table-hover">
    <tbody>
        {% for camp in camps %}
        <tr>
            <td class="vert-align">{{ camp['name'] }}</td>
            <td>
                <a class="btn btn-danger" href="{{ reverse_url('CampDelete', camp['id']) }}" role="button">削除</a>
            </td>
            <td>
                <a class="btn btn-primary" href="{{ reverse_url('TeamIndex', camp['id']) }}" role="button">詳細</a>
            </td>
        </tr>
        {% end %}
    </tbody>
</table>

{% module Template('tasks.html', tasks = tasks) %}

{% end block %}
